.progress, .progress .bar{
	
	height: 25px;
	line-height: 25px;
}

body {
background-color: #C0E4F2;
color: #754B23;
}



.home_box {
width: 920px;
height: 420px;
padding: 40px 30px 30px 30px;
}

.home_box {
background: url(../img/eco/home_bg.jpg) no-repeat top left;
}


footer{
background: url(../img/under_features_city.png) no-repeat top left;
height: 310px;
}

.stats-table td{
padding: 2px 2px;
font-size: 11px;
color: grey;
background: #eee;
}